<div class="w-full px-9 block">
  <h1>Search Reviewers</h1>

  <%= form_tag(search_reviewers_path, method: :get) do %>
    <div class="grid sm:grid-cols-2 gap-5 w-full grid-cols-1">

      <div class="block">
        <%= label_tag :language, "Programming language" %>
        <div class="block">
          <%= select_tag(:language, options_from_collection_for_select(Language.all, :id, :name, params[:language]), include_blank: true, class: "form-select mt-1 block w-full") %>
        </div>
      </div>

      <% if Area.count > 10 %>
        <div class="block" data-controller="autocomplete" data-autocomplete-url-value="<%= search_areas_path %>">
          <%= label_tag :area, "Area of expertise" %>
          <%= text_field_tag :area, params[:area], class: "form-input mt-1 block w-full", data: {"autocomplete-target" => "input"}, placeholder: "Search areas" %>
          <%= hidden_field_tag :area_id, params[:area_id], data: {"autocomplete-target" => "hidden"} %>
          <ul class="areas-options" data-autocomplete-target="results"></ul>
        </div>
      <% else %>
        <div class="block">
          <%= label_tag :area_id, "Area of expertise" %>
          <div class="block">
            <%= select_tag(:area_id, options_from_collection_for_select(Area.all, :id, :name, params[:area_id]), include_blank: true, class: "form-select mt-1 block w-full") %>
          </div>
        </div>
      <% end %>

      <div class="block">
        <%= label_tag :keywords, "Keyword(s)" %>
        <%= text_field_tag :keywords, params[:keywords], class: "form-input mt-1 block w-full", placeholder: "e.g. exoplanets, bioinformatics, neuroscience" %>
      </div>

      <div class="block">
        <%= label_tag :name, "Name or github/twitter username" %>
        <%= text_field_tag :name, params[:name], class: "form-input mt-1 block w-full", placeholder: "e.g. Ada Lovelace" %>
      </div>

      <div class="block">
        <%= submit_tag current_page?(action: "search") ? "Update search" : "Search", class: "btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="w-full px-9 block mt-4">

  <div class="text-xs block mb-1">
    <% if @language.present? %>
     <span class="font-semibold">Language:</span>  <%= @language.name %>
    <% end %>
    <% if @area.present? %>
        <span class="font-semibold">Area:</span> <%= @area.name %>
    <% end %>
    <% if params[:keywords].present? %>
      <span class="font-semibold">Keywords:</span> <%= params[:keywords] %>
    <% end %>
    <% if params[:name].present? %>
      <span class="font-semibold">By user:</span> <%= params[:name] %>
    <% end %>
  </div>

<% if @reviewers.empty? %>
  <h2>No reviewers found</h2>
<% else %>
  <div class="float-right"><%= page_entries_info @reviewers, entry_name: "reviewer" %></div>
  <table class="listing">
    <thead>
      <tr>
        <th>Name</th>
        <th>Github</th>
        <th>Languages</th>
        <th>Topic areas</th>
        <th colspan="3">Scores</th>
        <th>Load</th>
      </tr>
    </thead>
    <tbody>
    <% @reviewers.each do |reviewer| %>
      <tr>
        <td class="whitespace-nowrap min-w-fit"><%= link_to(image_tag(reviewer.avatar, width: '24px') + truncate(reviewer.screen_name, length: 25), reviewer_path(reviewer), title: "View profile for #{reviewer.screen_name}") %></td>
        <td class="whitespace-nowrap max-w-xs"><%= github_link(reviewer.github, truncate("@" + reviewer.github, length: 25))  %></td>
        <td class="max-w-xs"><%= reviewer.languages.map(&:name).join(", ") %></td>
        <td class="min-w-fit max-w-lg"><%= reviewer.domains %></td>
        <td class="min-w-xs max-w-xs <%= bg_by_score reviewer.feedback_score_last_year, reviewer.feedbacks_count %>" title="Score for the past 12 month: <%= sprintf("%+d", reviewer.feedback_score_last_year) %>"></td>
        <td class="min-w-xs max-w-xs <%= bg_by_score reviewer.feedback_score_last_3, reviewer.feedbacks_count %>" title="Score for the last 3 feedbacks: <%= sprintf("%+d", reviewer.feedback_score_last_3) %>"></td>
        <td class="min-w-xs max-w-xs <%= bg_by_score reviewer.feedback_score, reviewer.feedbacks_count %>" title="All time score (<%= reviewer.feedbacks_count %> feedbacks): <%= sprintf("%+d", reviewer.feedback_score) %>"></td>
        <td class="min-w-fit max-w-xs text-center" title="Active reviews: <%= reviewer.stat.active_reviews %>, Total: <%= reviewer.stat.reviews_all_time %>"><%= reviewer.stat.active_reviews %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pagination"><%= paginate @reviewers %></div>
<% end %>
</div>
