<div class="justify-content-lg-center px-9">
  <h1><%= @reviewer.screen_name %></h1>
  <div class="py-5 px-3 max-w-lg min-w-fit bg-white rounded-xl shadow-lg flex items-center space-x-4 mb-5">
    <div class="shrink-0">
      <%= image_tag @reviewer.avatar, width: "50px" %>
    </div>
    <div class="text-zinc-600">
      <strong>GitHub:</strong> <%= github_link(@reviewer.github) if @reviewer.github.present? %>
      <p>
        <% if @reviewer.orcid %>
          <strong>ORCID:</strong> <%= orcid_link(@reviewer.orcid) %>
        <% end %>
      </p>
    </div>

    <div id="stats" class="pl-8">
      <p class="whitespace-nowrap">
        <% if @reviewer.stat.active_reviews_url.present? %>
          <%= link_to "Active reviews: #{@reviewer.stat.active_reviews}", @reviewer.stat.active_reviews_url, class:"text-indigo-600", target: "_blank" %>
        <% else %>
          Active reviews: <%= @reviewer.stat.active_reviews %>
        <% end %>
      </p>
      <p class="whitespace-nowrap">
        <% if @reviewer.stat.reviews_url.present? %>
          <%= link_to "Reviews all time: #{@reviewer.stat.reviews_all_time}", @reviewer.stat.reviews_url, class:"text-indigo-600", target: "_blank" %>
        <% else %>
          Reviews all time: <%= @reviewer.stat.reviews_all_time %>
        <% end %>
      </p>
      <p class="whitespace-nowrap" title="<%= time_ago_in_words(@reviewer.stat.last_review_on) + " ago" if @reviewer.stat.last_review_on.present? %>">Last review on: <%= @reviewer.stat.last_review_on.present? ? @reviewer.stat.last_review_on.strftime("%d-%m-%Y") : "No info" %></p>
    </div>
  </div>

  <div class="grid sm:grid-cols-2 gap-y-5 gap-x-5">
    <div>
      <div class="block mb-5">
        <span class="font-semibold">Name:</span>
        <%= @reviewer.complete_name %>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Citation name:</span>
        <%= @reviewer.citation_name %>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Email:</span>
        <%= @reviewer.email %>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Affiliation:</span>
        <div class="w-full"><%= @reviewer.affiliation %></div>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">URL:</span>
        <div class="w-full"><%= link_to(@reviewer.url, @reviewer.url, target: "_blank") if @reviewer.url.present? %></div>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Twitter:</span>
        <div class="w-full"><%= link_to(@reviewer.twitter, "http://twitter.com/" + @reviewer.twitter, target: "_blank") if @reviewer.twitter.present? %></div>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Description:</span>
        <div class="w-full"><%= @reviewer.description %></div>
      </div>
    </div>

    <div>
      <% unless @reviewer.areas.empty? %>
      <div class="block mb-5">
        <span class="font-semibold">Area(s) of expertise:</span>
        <% @reviewer.areas.each  do |area| %>
          <div class="w-full"><%= area.name %></div>
        <% end %>
      </div>
      <% end %>

      <div class="block mb-5">
        <span class="font-semibold">Domains:</span>
        <div class="w-full"><%= @reviewer.domains %></div>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Programming languages:</span>
        <div class="w-full"><%= @reviewer.languages.map(&:name).join(", ") %></div>
      </div>
    </div>

  </div>
</div>

<div class="divider"></div>

<div class="justify-content-lg-center py-4 px-9">
  <h2>Feedback</h2>

  <div id="feedback-form" class="hidden">
    <%= form_for(@feedback || Feedback.new(user: @reviewer), url: feedbacks_path, method: :post, data: { turbo: false }) do |f| %>
      <div class="grid sm:grid-cols-2 gap-x-16">
        <div class="block mb-5">
          <%= f.label :comment %>
          <%= f.text_field :comment, class: "form-input mt-1 block w-full" %>
        </div>

        <div class="block mb-5">
          <%= f.label :rating %>
          <%= f.select :rating, [["ðŸ’¬ Just comment (neutral)", "neutral"], ["ðŸ‘ Positive", "positive"], ["ðŸ‘Ž Negative", "negative"]] , {}, { class: "form-select mt-1 block" } %>
        </div>

        <div class="block mb-5">
          <%= f.label :link, "URL of referenced review (optional)" %>
          <%= f.text_field :link, class: "form-input mt-1 block w-full" %>
        </div>
      </div>

      <div class="block mb-5">
        <%= f.hidden_field :user_id %>
        <%= f.submit "Save feedback", class: "btn-primary" %>
      </div>
    <% end %>
  </div>

  <% if @feedbacks.empty? %>
    There's no feedback for this reviewer yet.
    <span id="add-feedback-link" class="cursor-pointer underline text-indigo-600" onclick="this.style.display='none';document.getElementById('feedback-form').style.display='block';">Add feedback?</span>
  <% else %>
  <% if @feedbacks.total_pages > 1 %>
    <div class="float-right"><%= page_entries_info @feedbacks, entry_name: "feedback entry" %></div>
  <% end %>
  <span id="add-feedback-link" class="cursor-pointer underline text-indigo-600" onclick="this.style.display='none';document.getElementById('feedback-form').style.display='block';">Add feedback</span>
  <table id="feedbacks" class="listing divide-transparent">

    <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr id="feedback-<%= feedback.id %>">
        <td class="w-xs text-center <%= bg_by_rating feedback.rating %>"><%= feedback.rating_icon %></td>
        <td class="min-w-[60%]"><%= feedback.comment %></td>
        <td class="max-w-fit text-center" title="<%= time_ago_in_words(feedback.created_at)%> ago"><%= feedback.created_at.strftime("%d-%m-%Y") %></td>
        <td class="max-w-fit text-center">
          by: <%= github_link(feedback.editor&.github) %>
          <%= " | ".html_safe + link_to("Reference", feedback.link, target: "_blank", title: "Go to review") if feedback.link.present? %>
          <%= " | ".html_safe + link_to("Delete", feedback_path(feedback), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this feedback?" }) if feedback.editor == current_editor %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pagination"><%= paginate @feedbacks %></div>
  <% end %>

</div>
