
<div class="justify-content-lg-center px-5">
  <div class="columns-lg">

    <h1>My profile</h1>
      <div class="pb-3">
        <%= image_tag @user.github_avatar_url, width: '50px' %>
        <strong>Github:</strong> <%= @user.github %>

        <% if @user.orcid %>
          <strong>Orcid:</strong> <%= @user.orcid %>
        <% else %>
          <%= button_to "Add your ORCID", "/auth/orcid", method: :post, data: { turbo: false }, class: "text-slate-500" %>
        <% end %>
      </div>

      <%= form_for(@user, url: profile_path, method: :put, data: { turbo: false }) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation" class="alert-error">
            <h2><%= pluralize(@user.errors.count, "error") %>, prohibited to update the profile:</h2>
            <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.attribute.to_s.humanize %>: <%= error.message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="grid grid-cols-1 gap-5">
          <div class="block w-full">
            <%= f.label :complete_name %>
            <%= f.text_field :complete_name, class: "mt-1 block w-full", placeholder: "Ada Lovelace" %>
          </div>

          <div class="block">
            <%= f.label :citation_name %>
            <%= f.text_field :citation_name, class: "mt-1 block w-full", placeholder: "Lovelace, A." %>
          </div>

          <div class="block">
            <%= f.label :email %>
            <%= f.text_field :email, class: "mt-1 block w-full" %>
          </div>

          <div class="block">
            <%= f.label :affiliation %>
            <%= f.text_field :affiliation, class: "mt-1 block w-full" %>
          </div>

          <div class="block">
            <%= f.label :url %>
            <%= f.text_field :url, class: "mt-1 block w-full" %>
          </div>

          <div class="block">
            <%= f.label :twitter, "Twitter username" %>
            <%= f.text_field :twitter, class: "mt-1 block w-full" %>
          </div>

          <div class="block">
            <%= f.label :description %>
            <%= f.text_area :description, rows: 4, class: "mt-1 block w-full" %>
          </div>

          <div class="block">
            <%= f.submit "Save profile", class: "btn-primary" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>