<div class="justify-content-lg-center px-9">
  <h1>My reviewer profile</h1>
  <div class="py-5 px-3 max-w-sm bg-white rounded-xl shadow-lg flex items-center space-x-4 mb-5">
    <div class="shrink-0">
      <%= image_tag @user.avatar, width: "50px" %>
    </div>
    <div class="text-zinc-600">
      <strong>GitHub:</strong> <%= @user.github %>
      <p>
        <% if @user.orcid %>
          <strong>Orcid:</strong> <%= @user.orcid %>
        <% else %>
          <%= button_to "Add your ORCID", "/auth/orcid", method: :post, data: { turbo: false }, class: "bg-indigo-500  text-white font-semibold rounded-md p-2" %>
        <% end %>
      </p>
    </div>
  </div>

  <%= form_for(@user, url: profile_path, method: :put, data: { turbo: false }) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="alert-error">
        <h3><%= pluralize(@user.errors.count, "error") %>, prohibited to update the profile:</h3>
        <ul>
        <% @user.errors.each do |error| %>
          <li><strong><%= error.attribute.to_s.humanize %></strong>: <%= error.message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid sm:grid-cols-2 gap-y-5 gap-x-16">
      <div>
        <div class="block mb-5">
          <%= f.label :complete_name %>
          <%= f.text_field :complete_name, class: "form-input mt-1 block w-full", placeholder: "e.g. Ada Lovelace" %>
        </div>

        <div class="block mb-5">
          <%= f.label :citation_name %>
          <%= f.text_field :citation_name, class: "form-input mt-1 block w-full", placeholder: "e.g. Lovelace, A." %>
        </div>

        <div class="block mb-5">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-input mt-1 block w-full" %>
        </div>

        <div class="block mb-5">
          <%= f.label :affiliation %>
          <%= f.text_field :affiliation, class: "form-input mt-1 block w-full" %>
        </div>

        <div class="block mb-5">
          <%= f.label :url %>
          <%= f.text_field :url, class: "form-input mt-1 block w-full" %>
        </div>

        <div class="block mb-5">
          <%= f.label :twitter, "Twitter username" %>
          <%= f.text_field :twitter, class: "form-input mt-1 block w-full" %>
        </div>

        <div class="block mb-5">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 4, class: "form-textarea mt-1 block w-full" %>
        </div>

        <div class="block mb-5">
          <%= f.label :reviewer, class: "mt-1 block" do %>
            <%= f.check_box :reviewer, class: "form-checkbox mx-2" %>
            Available to review
          <% end %>
        </div>
      </div>

      <div>
        <div class="block mb-5" data-controller="autocomplete" data-autocomplete-url-value="<%= search_areas_path %>">
          <%= label_tag :area_search, "Area(s) of expertise" %>
          <%= text_field_tag :area_search, nil, class: "form-input mt-1 block w-full", data: {"autocomplete-target" => "input"} %>
          <ul class="areas-options" data-autocomplete-target="results"></ul>
        </div>

        <div class="block mb-5" data-controller="area-tags">
          <div id="area_tags">
            <% @user.areas.each do |area| %>
              <span id="area_tag_<%= area.id %>" class="tag">
                <span aria-hidden="true" class="close-tag" aria-label="Remove area" data-area-tags-area-param="<%= area.id %>" data-action="click->area-tags#removeTag">&times;</span>
                <%= area.name %>
              </span>
            <% end %>
          </div>
          <div id="user_area_hidden_fields">
          <% @user.area_ids.each do |id| %>
            <%= hidden_field_tag "user[area_ids][]", id, {id: "user_area_ids_#{id}"} %>
          <% end %>
          </div>
        </div>

        <div class="block mb-5">
          <%= f.label :domains, "Domains/topic areas you are comfortable reviewing" %>
          <%= f.text_field :domains, class: "form-input mt-1 block w-full", placeholder: "e.g. Mathematics, numerical analysis, statistics, exoplanets" %>
        </div>

        <div class="block mb-5">
          <%= f.label :language_ids, "Programming language(s) you are comfortable reviewing" %>
          <div class="form-input w-full grid sm:grid-cols-3">
            <%= f.collection_check_boxes(:language_ids, Language.all, :id, :name)  do |b|
                  b.label(class: " mt-1 block") { b.check_box(class: "form-checkbox mx-2") + "#{b.text}" }
                end %>
          </div>
        </div>
      </div>

    </div>

    <div class="block mb-5">
      <%= f.submit "Save profile", class: "btn-primary" %>
    </div>
  <% end %>
</div>