<div class="justify-content-lg-center px-9">
  <h1><%= @user.screen_name %></h1>
  <div class="py-5 px-3 max-w-fit bg-white rounded-xl shadow-lg flex items-center space-x-4 mb-5">
    <div class="shrink-0">
      <%= image_tag @user.avatar, width: "50px" %>
    </div>
    <div class="text-zinc-600">
      <strong>GitHub:</strong> <%= github_link(@user.github) if @user.github.present? %>
      <p>
        <% if @user.orcid %>
          <strong>ORCID:</strong> <%= orcid_link(@user.orcid) %>
        <% end %>
      </p>
    </div>

    <div id="roles" class="pl-8">
      <% if @user.reviewer? %><p> âœ… Reviewer</p><% end %>
      <% if @user.editor? %><p> âœ… Editor</p><% end %>
      <% if @user.admin? %><p> âœ… Admin</p><% end %>
    </div>
  </div>

  <div class="block mb-5 w-full">
    <% if @user.reviewer? %>
      <%= link_to "â¬ Remove reviewer status", status_user_path(@user, reviewer: false), data: { turbo_method: :put }, class: "btn-primary mb-1" %>
    <% else %>
      <%= link_to "â« Grant reviewer status", status_user_path(@user, reviewer: true), data: { turbo_method: :put }, class: "btn-primary mb-1" %>
    <% end %>

    <% if @user.editor? %>
      <%= link_to "â¬ Remove editor status", status_user_path(@user, editor: false), data: { turbo_method: :put }, class: "btn-primary mb-1" %>
    <% else %>
      <%= link_to "â« Grant editor status", status_user_path(@user, editor: true), data: { turbo_method: :put }, class: "btn-primary mb-1" %>
    <% end %>

    <% if @user != current_admin %>
      <% if @user.admin? %>
        <%= link_to "â¬ Remove admin status", status_user_path(@user, admin: false), data: { turbo_method: :put }, class: "btn-primary mb-1" %>
      <% else %>
        <%= link_to "â« Grant admin status", status_user_path(@user, admin: true), data: { turbo_method: :put }, class: "btn-primary mb-1" %>
      <% end %>
    <% end %>

    <% if @user != current_admin %>
      <%= link_to "ðŸ”  Edit", edit_user_path(@user), class: "btn-action mb-1" %>
      <%= link_to "ðŸš® Delete user", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this user?" }, class: "btn-danger mb-1" %>
    <% end %>

  </div>

  <div class="grid sm:grid-cols-2 gap-y-5 gap-x-5">
    <div>
      <div class="block mb-5">
        <span class="font-semibold">Name:</span>
        <%= @user.complete_name %>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Citation name:</span>
        <%= @user.citation_name %>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Email:</span>
        <%= @user.email %>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Affiliation:</span>
        <div class="w-full"><%= @user.affiliation %></div>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">URL:</span>
        <div class="w-full"><%= link_to(@user.url, @user.url, target: "_blank") if @user.url.present? %></div>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Description:</span>
        <div class="w-full"><%= @user.description %></div>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Created:</span>
        <%= @user.created_at.strftime("%d-%m-%Y at %H:%M:%S %Z") %>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Updated:</span>
        <%= @user.updated_at.strftime("%d-%m-%Y at %H:%M:%S %Z") %>
      </div>
    </div>

    <div>
      <% unless @user.areas.empty? %>
      <div class="block mb-5">
        <span class="font-semibold">Area(s) of expertise:</span>
        <% @user.areas.each  do |area| %>
          <div class="w-full"><%= area.name %></div>
        <% end %>
      </div>
      <% end %>

      <div class="block mb-5">
        <span class="font-semibold">Domains:</span>
        <div class="w-full"><%= @user.domains %></div>
      </div>

      <div class="block mb-5">
        <span class="font-semibold">Programming languages:</span>
        <div class="w-full"><%= @user.languages.map(&:name).join(", ") %></div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="justify-content-lg-center py-4 px-9">
  <h2>Feedback</h2>

  <% if @feedbacks.empty? %>
    There's no feedback for this reviewer yet.
  <% else %>
  <% if @feedbacks.total_pages > 1 %>
    <div class="float-right"><%= page_entries_info @feedbacks, entry_name: "feedback entry" %></div>
  <% end %>

  <table id="feedbacks" class="listing divide-transparent">
    <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr id="feedback-<%= feedback.id %>">
        <td class="w-xs text-center <%= bg_by_rating feedback.rating %>"><%= feedback.rating_icon %></td>
        <td class="min-w-[60%]"><%= feedback.comment %></td>
        <td class="max-w-fit text-center" title="<%= time_ago_in_words(feedback.created_at)%> ago"><%= feedback.created_at.strftime("%d-%m-%Y") %></td>
        <td class="max-w-fit text-center">
          by: <%= github_link(feedback.editor&.github) %>
          <%= " | ".html_safe + link_to("Reference", feedback.link, target: "_blank", title: "Go to review") if feedback.link.present? %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pagination"><%= paginate @feedbacks %></div>
  <% end %>

</div>