<div class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors border-b border-slate-900/10 duration-500 shadow-md bg-zinc-50">
  <div class="max-w-7xl mx-auto">
    <header class="py-4 mx-4">
      <div class="relative flex items-center">
        <%= link_to image_tag("logo_header.png", size: "64"), root_path %>
        <%= link_to(root_path) do %>
          <span class="font-semibold text-indigo-900 dark:text-white w-auto h-5 pl-3">Reviewers Management System</span>
        <% end %>

        <nav class="lg:flex justify-center space-x-4 ml-auto">
          <% if current_editor %>
            <%= link_to "Search reviewers", reviewers_path, class: "px-3 py-2 text-indigo-900 rounded-lg hover:bg-zinc-200 hover:text-indigo-600" %>
          <% end %>
          <% if current_user %>
            <%= link_to "Profile", profile_path, class: "px-3 py-2 text-indigo-900 rounded-lg hover:bg-zinc-200 hover:text-indigo-600"  %>
            <%= link_to "Log out", signout_path, class: "px-3 py-2 text-indigo-900 rounded-lg hover:bg-zinc-200 hover:text-indigo-600"  %>
          <% end %>
        </nav>
      </div>
    </header>
  </div>
</div>
